[Unit]
Description=Adobe Experience Manager ({{ aem_instance_type }} instance)

[Service]
Type=simple
ExecStart=/usr/bin/{{ aem_service_name }} start
ExecStop=/usr/bin/{{ aem_service_name }} stop
ExecReload=/usr/bin/{{ aem_service_name }} restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target