#! /bin/sh
### BEGIN INIT INFO
# Provides: aem-{{ aem_instance_type }}
# Required-Start: $remote_fs $syslog
# Required-Stop: $remote_fs $syslog
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: aem-{{ aem_instance_type }}
# Description: Manages Adobe Experience Manager ({{ aem_instance_type }} Role)
# 
### END INIT INFO

SCRIPT_NAME=`basename $0`
AEM_ROOT={{ aem_home }}
AEM_USER={{ aem_user}}
export CQ_PORT='{{ aem_instance_port }}'
export CQ_RUNMODE='{{ aem_instance_type }},{{ environment_type }}{% if aem_no_sample_content %},nosamplecontent{% endif %}{% if aem_custom_modes != '' %},{{ aem_custom_modes }}{% endif %}'
export CQ_JVM_OPTS='-server -Xmx{{ ansible_memtotal_mb-1024 }}m -XX:MaxPermSize=256M -Djava.awt.headless=true'

########
BIN=${AEM_ROOT}/crx-quickstart/bin
START=${BIN}/start
STOP=${BIN}/stop
STATUS=${BIN}/status
 
case "$1" in
start)
echo -n "Starting AEM services: "
su ${AEM_USER} ${START}
touch /var/lock/subsys/$SCRIPT_NAME
;;
stop)
echo -n "Shutting down AEM services: "
su ${AEM_USER} ${STOP}
rm -f /var/lock/subsys/$SCRIPT_NAME
;;
status)
su ${AEM_USER} ${STATUS}
;;
restart)
su ${AEM_USER} ${STOP}
echo -n "Wait until process is opened"
while [ $(ps -u {{ aem_user }} | grep java -c) -ge 1 ]
do
echo '.'
done
su ${AEM_USER} ${START}
;;
*)
echo "Usage: $SCRIPT_NAME {start|stop|status|restart}"
exit 1
;;
esac