{% if file_datastore_repository_home != '' %}
repository.home="{{ file_datastore_repository_home }}"
{% endif %}
{% if file_datastore_path != '' %}
path="{{ file_datastore_path }}"
{% endif %}
minRecordLength="100"