[Unit]
Description=AEM jarfile selector ({{ aem_instance_type }} instance)
After=network.target

[Service]
WorkingDirectory={{ aem_home }}
User={{ aem_user}}
Group={{ aem_group}}
Type=oneshot
ExecStart=/bin/sh -c '/bin/echo JARFILE=`ls crx-quickstart/app/*.jar | head -1` > {{ aem_home }}/aem_jar_file'
StandardOutput=journal

[Install]
WantedBy=multi-user.target

